@font-face {
    font-family: 'DottyShadow';
    src: url('../DottyShadow/DottyShadow.eot'),
    	   url('../DottyShadow/DottyShadow.woff2') format('woff2'),
         url('../DottyShadow/DottyShadow.woff') format('woff'),
         url('../DottyShadow/DottyShadow.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
